<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="connection.url">jdbc:mysql://localhost:3306/HotelMIS</property>
    <property name="connection.driver_class">com.mysql.jdbc.Driver</property>
    <!--DB schema will be updated if needed -->
    <property name="hbm2ddl.auto">update</property>

      <mapping class="bean.Account"/>
    <mapping resource="bean/Account.hbm.xml"/>
    <mapping class="bean.Hotel"/>
    <mapping resource="bean/Hotel.hbm.xml"/>
    <mapping class="bean.Order"/>
    <mapping resource="bean/Order.hbm.xml"/>
    <mapping class="bean.Room"/>
    <mapping resource="bean/Room.hbm.xml"/>
      <mapping class="bean.Orders"/>
      <mapping resource="bean/Orders.hbm.xml"/>
  </session-factory>
</hibernate-configuration>